/* Default */

.hr-line {
    margin: 2.5rem 0;
}

.summary-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
 .summary-cards > .card {
    /* background-color: #f9f9f9; */
    display: flex !important;
    background-color: #9c8181;
    border-radius: 10px;
    padding: 15px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
    flex: 1;
    border: none;
  }
  
  .card-content .card-title {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .card-content .card-value {
    font-size: 1.5rem;
    font-weight: bold;
  }